$primary-color: #2c3e50;
$secondary-color: grey;
$secondary-color-light: lightgray;
$active-link-color: #42b983;

$border-radius: 1rem !important;
$box-shadow-card: 14px 14px $secondary-color;
$box-shadow-card-button: 6px 6px $secondary-color;
$box-shadow-logo: 0px 0px 50px $secondary-color;